@font-face {
  font-family: "Raleway", sans-serif;
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Expletus Sans", sans-serif;
  src: url(./assets/fonts/ExpletusSans-VariableFont_wght.ttf);
}

h1 {
  font-family: "Expletus Sans", sans-serif;
}

h2 {
  font-family: "Expletus Sans", sans-serif;
}

#header {
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 40px;
  margin: 0;
}

#footer {
  height: 70px;
  padding-inline: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  z-index: 2;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 90;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#main {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: flex-start;
}

#left {
  min-width: 500px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border: solid 1px lightgray;
}

#right {
  width: 200px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: solid 1px lightgray;
}

#hero {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(./assets/img/hamburger.jpg);
  background-size: cover;
  background-position: bottom;
  border: solid 1px lightgray;
}

#hero-logo {
  z-index: 1;
  margin-bottom: -25px;
}

#menu-box {
  min-width: 480px;
  min-height: 400px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  border: solid 1px lightgray;
}

#menu-contents {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  border: solid 1px lightgray;
}

.cart {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  overflow-y: auto;
  flex-wrap: wrap;
  border: solid 1px lightgray;
}

#sidebar-cart {
  border: solid 1px lightgray;
}

#overlay-cart {
  background-color: white;
}

.dishes-box {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: solid 1px lightgray;
}

.data-block {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: solid 1px lightgray;
}

.interact-row {
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 1px lightgray;
}

@media (max-width: 700px) {
  .hidemobile {
    display: none;
  }

  #right {
    display: none;
  }

  #left {
    min-width: 300px;
  }

  #menu-box {
    min-width: 280px;
  }
}
@media (min-width: 701px) {
  .hidedesktop {
    display: none;
  }
}
