@font-face {
  font-family: "Raleway", sans-serif;
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Expletus Sans", sans-serif;
  src: url(./assets/fonts/ExpletusSans-VariableFont_wght.ttf);
}

h1 {
  font-family: "Expletus Sans", sans-serif;
}

h2 {
  font-family: "Expletus Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 40px;
  margin: 0;
}

#footer {
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 40px;
  margin: 0;
}

#overlay {
  z-index: 2;
  height: 100rem;
  width: 100%;
  position: absolute;
  top: 70;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay-header {
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#main {
  min-height: calc(100vh - 170px);
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#left {
  min-width: 500px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#right {
  width: 300px;
  padding-inline: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#hero {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(./assets/img/hamburger.jpg);
  background-size: cover;
  background-position: bottom;
}

#hero-logo {
  z-index: 1;
  margin-bottom: -25px;
}

#restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#stars {
  height: 25px;
  width: auto;
}

#menu-box {
  min-width: 480px;
  min-height: 400px;
  padding-inline: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

#menu-contents {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

#sidebar-cart-box {
  top: 0;
  position: sticky;
  width: 240px;
}

.cart-box {
  padding-inline: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: solid 1px lightgray;
  padding: 5px;
}

#overlay-cart-box {
  background-color: white;
  height: 100rem;
  padding: 5px;
}

.cart {
  overflow-y: auto;
}

#overlay-cart {
  min-width: 300px;
  height: 400px;
}

#sidebar-cart {
  position: sticky;
  width: 180px;
  height: 500px;
}

.total-price-box {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.dishes-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border: solid 1px lightgray;
  padding: 5px;
}

.data-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.interact-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.confirmation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  height: 35px;
  font-size: 14px;
}

@media (max-width: 770px) {
  .hidemobile {
    display: none;
  }

  #left {
    min-width: 250px;
  }

  #right {
    display: none;
  }

  #menu-box {
    min-width: 260px;
  }

  #overlay-cart {
    min-width: 350px;
    height: 400px;
  }

  #overlay-cart-box {
    min-width: 340px;
  }
}

@media (max-width: 600px) {
  #overlay-cart {
    min-width: 250px;
    height: 400px;
  }

  #overlay-cart-box {
    min-width: 240px;
  }
}

@media (min-width: 771px) {
  .hidedesktop {
    display: none;
  }
}
